<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Твой Мастер</title>
  <link rel="stylesheet" href="index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>

<body>
  <header>
    <div class="mobileMenu">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-6 mobileLogo">
          <p class="logo"><span>Твой</span>Мастер</p>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <img src="autoImg/close-button.png" class="close" alt="close">
        </div>
      </div>
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping"><img src="autoImg/search.png" alt=""></span>
        <input type="text" class="form-control" placeholder="Поиск" aria-label="Username"
          aria-describedby="addon-wrapping">
      </div>

      <ul class="firstMobileMenu">
        <li></li>
        <li>О нас</li>
        <li>Помощь</li>
        <li>Блог</li>
        <li>Пресса</li>
        <li>Связаться с нами</li>
      </ul>

      <ul class="secondMobileMenu">
        <li>Вы мастер или СТО?</li>
        <li>
          <button>Узнать больше</button>
        </li>
      </ul>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-10 col-sm-8 col-7 logoBlock">
          <img src="autoImg/menu.png" class="burger" alt="menu">
          <p class="logo"><span>Твой</span>Мастер</p>
        </div>
        <div class="col-6 col-lg-7">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
                <p>Найти мастера</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <p>Как это работает</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <p>Для мастеров</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-5 loginBlock">
          <button type="button" class="btn btn-success">Войти</button>
        </div>
      </div>
    </div>
  </header>

  <div class="professions">
    <div class="container">
      <div class="row">
        <div class="col">Маляр</div>
        <div class="col">Слесарь</div>
        <div class="col">Рихтовщик</div>
        <div class="col">Электрик</div>
        <div class="col">Газовщик</div>
        <div class="col">Моторист</div>
        <div class="col">Диагност</div>
        <div class="col">Кондиционерщик</div>
      </div>
    </div>
  </div>

  <div class="mainBlock">
    <div class="container">
      <p>Проверенные профессионалы для ремонта и обслуживания вашего автомобиля</p>
      <h1>НАЙДИ СВОЕГО МАСТЕРА</h1>
      <ul>
        <li>
          <button class="btn btn-success setJob">Разместить работу</button>
        </li>
        <li>
          <button class="btn btn-light howItWork">Как это работает</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="findMasterBlock">
    <br><br>
    <h4>Найдите мастера или сервис</h4>
    <div class="container">
      <div class="findMasterCell">
        <ul>
          <li>
            <img src="autoImg/maliar.jpg" alt="">
          </li>
          <li>
            <p>Покраска</p>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li>
            <img src="autoImg/sleser.jpg" alt="">
          </li>
          <li>
            <p>Слесарные работы</p>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li>
            <img src="autoImg/rihtovka.jpg" alt="">
          </li>
          <li>
            <p>Рихтовка</p>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li>
            <img src="autoImg/detailing.jpg" alt="">
          </li>
          <li>
            <p>Детейлинг</p>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li>
            <img src="autoImg/elektrik.jpg" alt="">
          </li>
          <li>
            <p>Автоэлектрика</p>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li>
            <img src="autoImg/diagnost.jpg" alt="">
          </li>
          <li>
            <p>Диагностика</p>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li>
            <img src="autoImg/gbo.jpg" alt="">
          </li>
          <li>
            <p>ГБО</p>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li>
            <img src="autoImg/zvuk.jpg" alt="">
          </li>
          <li>
            <p>Автозвук</p>
          </li>
        </ul>
      </div>
      <div class="reserveBlock">
        <ul>
          <li>
            <img src="autoImg/razval.jpg" alt="">
          </li>
          <li>
            <p>Развал-схождение</p>
          </li>
        </ul>
      </div>
    </div>
    <h5>Не нашли нужную вам категорию? <a href="#">Смотрите полный каталог</a></h5>
  </div>

  <div class="howItworksBlock">
    <div class="container">
      <h2>Как Это Работает?</h2>
      <p class="firstP">Найдите мастера для ремонта и обслуживания вашего автомобиля в уже сейчас</p>
      <div class="howItWorksContainer">
        <div class="howItWorksInfo">
          <div></div>
          <div>
            <h3>Опишите Вашу Проблему</h3>
            <div class="imgHid"><img src="autoImg/vector-auto/describe.jpg" alt=""></div>
            <p>Заполните форму. Опишите проблему, которая возникла с вашим автомобилем. Начните получать сообщения от
              мастеров либо свяжитесь с ними самостоятельно</p>
          </div>
          <div><img src="autoImg/vector-auto/describe.jpg" alt=""></div>
          <div></div>
        </div>
        <ul class="correctedUl firstUl">
          <li>1</li>
        </ul>
        <div class="howItWorksInfo secondBlock">
          <div></div>
          <div>
            <h3>Получите Оценку </h3>
            <div class="imgHid"><img src="autoImg/vector-auto/describe.jpg" alt=""></div>
            <p>Получите оценку стоимости ремонта/обслуживания вашего автомобиля. Вы начнётё получать предложения от
              мастеров и СТО которые в состоянии решить вашу проблему сразу после размещения заявки</p>
          </div>
          <div><img src="autoImg/vector-auto/yourvalue.jpg" alt=""></div>
          <div></div>
        </div>
        <ul class="secondUl">
          <li>2</li>
        </ul>
        <div class="howItWorksInfo thirdBlock">
          <div></div>
          <div>
            <h3>Выберите Своего Мастера</h3>
            <div class="imgHid"><img src="autoImg/vector-auto/describe.jpg" alt=""></div>
            <p>Выберите мастера или СТО которому вы хотите поручить ремонт вашего автомобиля. Для более чёткого выбора
              вам доступны отзывы и подробное описание мастеров и СТО. Вам доступна полная информация.</p>
          </div>
          <div><img src="autoImg/vector-auto/takeyourmaster.jpg" alt=""></div>
          <div></div>
        </div>
        <ul class="thirdUl">
          <li>3</li>
        </ul>
        <div class="howItWorksInfo">
          <div></div>
          <div>
            <h3>Оставьте Отзыв</h3>
            <div class="imgHid"><img src="autoImg/vector-auto/describe.jpg" alt=""></div>
            <p>Оставьте отзыв и порекомендуйте исполнителя на “Твой Мастер” своим друзьям и знакомым.</p>
          </div>
          <div><img src="autoImg/vector-auto/review.jpg" alt=""></div>
          <div></div>
        </div>
        <ul class="correctedUl fourthUl">
          <li>4</li>
        </ul>
      </div>
    </div>
    <p class="lastP">Вы оказываете услуги, представляете СТО или автомастерскую и хотите стать участником</p>
    <button class="howItWorksBtn">Узнать больше</button>
  </div>

  <div class="descriptionBlock">
    <div class="container">
      <h2>Получите расценки на  обслуживание и ремонт автомобиля</h2>
      <p>Сравните цены у более чем 2390 мастеров и СТО</p>
      <br><br>
      <p><span>Вашему автомобилю необходимо обслуживание, ремонтные работы или вы хотите установить ГБО?</span></p>
      <p>Сравните цены у более чем 2390 мастеров и СТО на “Твой Мастер”</p>
      <br>
      <p><span>Это быстро и просто.</span></p>
      <p>Сначала опишите, какой сервис требуется для вашего автомобиля, например: кузовной ремонт, обслуживание и ТО, замена сцепления, тонировка или многие другие виды технического обслуживания.
      </p>
      <p>После этого местные мастера и СТО свяжутся с вами и предложат конкурентоспособные цены. Один из экспертов нашего сервиса обязательно подойдёт для решения вашего вопроса</p>
      <p>Итак, вашему автомобилю нужен мастер или СТО? Вы ищите выгодную цену и порядочного исполнителя? Это именно то, чем мы занимаемся, нажмите сдесь и начните поиск вашего мастера</p>
      <br>
      <p><span>Вы представляете СТО или вы самозянятый механик, который оказывает услуги на дому и вы заитересованы в новых клиентах и увеличении дохода? Нажмите здесь, чтобы узнать больше.</span></p>
    </div>
  </div>

  <div class="reviewBlock">
    <h2>Последние отзывы</h2>
    <p>Отзывы клиентов “Твой Мастер”</p>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="reviewRight">
            <ul>
              <li>
                <ul class="reviewStars">
                  <li><img src="autoImg/star.png" alt="star"></li>
                  <li><img src="autoImg/star.png" alt="star"></li>
                  <li><img src="autoImg/star.png" alt="star"></li>
                  <li><img src="autoImg/star.png" alt="star"></li>
                  <li><img src="autoImg/star.png" alt="star"></li>
                  <li><p>BMW M5 - замена масла и фильтров</p></li>
                </ul>
              </li>
              <li>
                <div class="avatarBlock">
                  <div class="avatarReview"><img src="autoImg/revue.jpg" alt=""></div>
                  <div>
                    <p>Сергей Иванович рекомендует</p>
                    <p>СТО “АвтоСистемы”</p>
                  </div>
                </div>
              </li>
              <li>
                <p>Отличный сервис. Замену масла и фильтров произвели быстро, 
                  полностью накрыли салон, автомобиль остался чистый после ремонта. 
                  На очереди замена колодок, поеду только сюда! Всем рекомендую.</p>
              </li>
            </ul>
          </div>
          <div class="reviewLeft">
            <p>12.03.2020</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="reviewRight">
            <ul>
              <li>
                <ul class="reviewStars">
                  <li><img src="autoImg/star.png" alt="star"></li>
                  <li><img src="autoImg/star.png" alt="star"></li>
                  <li><img src="autoImg/star.png" alt="star"></li>
                  <li><img src="autoImg/star.png" alt="star"></li>
                  <li><img src="autoImg/star.png" alt="star"></li>
                  <li><p>Porshe Cayman - покраска кузова</p></li>
                </ul>
              </li>
              <li>
                <div class="avatarBlock">
                  <div class="avatarReview"><img src="autoImg/rocky.jpg" alt=""></div>
                  <div>
                    <p>Роки Бальбоа рекомендует</p>
                    <p>СТО “Painer”</p>
                  </div>
                </div>
              </li>
              <li>
                <p>Очень понравилось качество работ, покраска выполнена на 100%. 
                  На очереди замена колодок, поеду только сюда! Всем рекомендую.</p>
              </li>
            </ul>
          </div>
          <div class="reviewLeft">
            <p>12.03.2020</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="reviewRight">
            <ul>
              <li>
                <ul class="reviewStars">
                  <li><img src="autoImg/star.png" alt="star"></li>
                  <li><img src="autoImg/star.png" alt="star"></li>
                  <li><img src="autoImg/star.png" alt="star"></li>
                  <li><img src="autoImg/star.png" alt="star"></li>
                  <li><p>Lexus LX470 - замена двигателя</p></li>
                </ul>
              </li>
              <li>
                <div class="avatarBlock">
                  <div class="avatarReview"><img src="autoImg/brad.jpg" alt=""></div>
                  <div>
                    <p>Брэд Питт рекомендует</p>
                    <p>СТО “АвтоРемонт”</p>
                  </div>
                </div>
              </li>
              <li>
                <p>Качественный сервис. Но были нюансы, поэтому ставлю 4 звезды!</p>
              </li>
            </ul>
          </div>
          <div class="reviewLeft">
            <p>12.03.2020</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="beforeFooterMenu">
    <h2>Выберите мастера или сто по популярным локациям, маркам автомобиля или специфике услуг</h2>
    <div class="container">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <ul class="preFooterItems">
            <li>ТО</li>
            <li>Замена масла</li>
            <li>Покраска Кузова</li>
            <li>Рихтовка</li>
          </ul>
          <ul class="preFooterItems">
            <li>ТО</li>
            <li>Замена масла</li>
            <li>Покраска Кузова</li>
            <li>Рихтовка</li>
          </ul>
          <ul class="preFooterItems">
            <li>ТО</li>
            <li>Замена масла</li>
            <li>Покраска Кузова</li>
            <li>Рихтовка</li>
          </ul>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <ul class="preFooterItems">
            <li>Toyota</li>
            <li>Subaru</li>
            <li>BMW</li>
            <li>Mersedes-Benz</li>
          </ul>
          <ul class="preFooterItems">
            <li>Toyota</li>
            <li>Subaru</li>
            <li>BMW</li>
            <li>Mersedes-Benz</li>
          </ul class="preFooterItems">
          <ul class="preFooterItems">
            <li>Toyota</li>
            <li>Subaru</li>
            <li>BMW</li>
            <li>Mersedes-Benz</li>
          </ul>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <ul class="preFooterItems">
            <li>Киев</li>
            <li>Харьков</li>
            <li>Днепр</li>
            <li>Одесса</li>
          </ul>
          <ul class="preFooterItems">
            <li>Киев</li>
            <li>Харьков</li>
            <li>Днепр</li>
            <li>Одесса</li>
          </ul>
          <ul class="preFooterItems">
            <li>Киев</li>
            <li>Харьков</li>
            <li>Днепр</li>
            <li>Одесса</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="takeYourValue">
    <div class="container">
      <h2>
        Получите оценку прямо сейчас
      </h2>
      <button class="btn btn-success setJob takeYourValueBtn">Разместить работу</button>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <h3><span>Твой</span>Мастер</h3>
          <a href="tel:+380631349272"><img src="autoImg/phone-call.png" alt="">+38063 134 92 72</a>
          <ul class="footerFirst">
            <li>О нас</li>
            <li>Помощь</li>
            <li>Блог</li>
            <li>Пресса</li>
            <li>Связаться с нами</li>
          </ul>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 col-12">
          <p>Мы в социальных сетях</p>
          <ul class="footerImgBlock">
            <li><img src="autoImg/linkedin.png" alt=""></li>
            <li><img src="autoImg/facebook.png" alt=""></li>
            <li><img src="autoImg/instagram.png" alt=""></li>
            <li><img src="autoImg/twitter.png" alt=""></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-12">
          <p>Вы мастер или СТО?</p>
          <button class="howItWorksBtn">Узнать больше</button>
        </div>
      </div>

      <div class="row lastFooterInfo g-3">
        <div class="col-lg-5 col-sm-12 col-12">© 2021 twoimaster.com.ua</div>
        <div class="col-lg-3 col-sm-12 col-12">Правовая информация</div>
        <div class="col-lg-4 col-sm-12 col-12">Политика использования файлов  cookie</div>
      </div>

    
  </footer>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="scripts.js"></script>

</html>