<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Твой Мастер</title>
    <link rel="stylesheet" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="mobileMenu">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-6 mobileLogo">
                    <p class="logo"><span>Твой</span>Мастер</p>
                </div>
                <div class="col-md-6 col-sm-6 col-6">
                    <img src="autoImg/close-button.png" class="close" alt="close">
                </div>
            </div>
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping"><img src="autoImg/search.png" alt=""></span>
                <input type="text" class="form-control" placeholder="Поиск" aria-label="Username"
                    aria-describedby="addon-wrapping">
            </div>

            <ul class="firstMobileMenu">
                <li></li>
                <li>О нас</li>
                <li>Помощь</li>
                <li>Блог</li>
                <li>Пресса</li>
                <li>Связаться с нами</li>
            </ul>

            <ul class="secondMobileMenu">
                <li>Вы мастер или СТО?</li>
                <li>
                    <button>Узнать больше</button>
                </li>
            </ul>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-10 col-sm-8 col-7 logoBlock">
                    <img src="autoImg/menu.png" class="burger" alt="menu">
                    <p class="logo"><span>Твой</span>Мастер</p>
                </div>
                <div class="col-6 col-lg-7">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">
                                <p>Найти мастера</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <p>Как это работает</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <p>Для мастеров</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-5 loginBlock">
                    <button type="button" class="btn btn-success">Войти</button>
                </div>
            </div>
        </div>
    </header>

    <div class="firstMasterBlock">
        <div class="container">
            <div class="firstMasterBlockInfo">
                <h2>Присоединяйся к крупнейшей бирже автоуслуг</h2>
                <p>Получите доступ к более <span>300,000</span> клиентов.
                    Вы платите только микро комиссию от выполненных вами услуг.
                    “Твой Мастер” предоставляет дополнительный сервис для ваших клиентов. Узнайте больше про возможности
                    сервиса.</p>
                <ul>
                    <li>
                        <button class="btn btn-success setJob">Создать аккаунт</button>
                    </li>
                    <li>
                        <button class="btn btn-light howItWork">Заказать звонок</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="advantages">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 advantegesItems">
                    <img src="autoImg/phoneCall.png" alt="">
                    <h3>Больший поток клиентов</h3>
                    <p>Просто зарегестрируйтесь и начните общение с новыми клиентами</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 advantegesItems">
                    <img src="autoImg/money.png" alt="">
                    <h3>$230 средний чек</h3>
                    <p>Это ваш самый выгодный способ привлечения клиентов</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 advantegesItems">
                    <img src="autoImg/userLove.png" alt="">
                    <h3>Преданность клиентов</h3>
                    <p>85% клиентов на бирже продолжают сотрудничество с мастером окозавшим услугу высокого качества</p>
                </div>
            </div>
        </div>
    </div>


    <div class="callToAction">
        <div class="container">
            <button class="btn btn-success setJob">Создать аккаунт</button>
        </div>
    </div>


    <div class="howItWorkBlock">
        <div class="container">
            <h3>Как работает “ТвойМастер”?</h3>
            <div class="container px-4">
                <div class="row g-5">
                    <div class="col-xl-3 col-lg-6 col-md-6 firstHowItWorkBlock">
                        <div class="p-4 border bg-light firstHowItWorkBlock">
                            <h4>Размещение</h4>
                            <p>Клиенты размещают требуемые работы для своих автомобилей </p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="p-4 border bg-light">
                            <h4>Заявка</h4>
                            <p>Дождитесь предложения или подайте заявку на интересующую вас работу</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="p-4 border bg-light">
                            <h4>Запись</h4>
                            <p>Уточните детали работы и запишите клиента на свободную дату.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="p-4 border bg-light">
                            <h4>Отзыв</h4>
                            <p>Получите отличный отзыв и повысьте доверие к своему профилю еще больше</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="ourPrevelagesBlock">
        <div class="container">
            <h3>Как мы можем быть полезны вашему бизнесу?</h3>
            <p class="prevelagesDescription">Мы хотим не только помочь найти вам клиентов, но нам важно выстроить для
                вас новый постоянный источник поступления работы.</p>
            <div class="container px-4">
                <div class="row g-5">
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="p-4">
                            <h4>Новые клиенты</h4>
                            <img src="autoImg/scredriver.png" alt="">
                            <p>Подавайтесь на любое количество заявок от сотен клиентов в вашем городе</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="p-4">
                            <h4>Станьте узнаваемыми</h4>
                            <img src="autoImg/loc.png" alt="">
                            <p>Ваш профиль это отличный способ претставить свои услуги в интернете</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="p-4">
                            <h4>Управляйте графиком</h4>
                            <img src="autoImg/clock.png" alt="">
                            <p>Записывайте ваших клиентов на те даты, которые вам удобны, прямо в чате приложения</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="p-4">
                            <h4>Сарафанное радио</h4>
                            <img src="autoImg/reletions.png" alt="">
                            <p>Довольные клиенты будут рекомендовать вас своим друзьям и вас будет очень просто найти
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="partnerRevievsBlock">
        <div class="container">
            <h3>Что говорят наши партнёры</h3>
            <img src="autoImg/revue.jpg" alt="">
            <p>“ТвойМастер” даёт около 45% всех заказов для нашего СТО. Мы просто отлично делаем нашу работу, а наши
                клиенты находят нас сами через площадку.
                Это удобно потому, что мы можем моментально дать консультацию в чате “ТвойМастер”</p>
            <p>Сергей Иванович, владелец СТО “Гайкокрут”</p>
            <a href="">Посмотреть все отзывы</a>
            <br>
            <button class="btn btn-success setJob">Присоединиться</button>
        </div>
    </div>


    <div class="takeYourValue">
        <div class="container">
            <h2>
                Станьте партнёром уже сегодня
            </h2>
            <button class="btn btn-success setJob takeYourValueBtn">Создать аккаунт</button>
        </div>
    </div>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <h3><span>Твой</span>Мастер</h3>
                    <a href="tel:+380631349272"><img src="autoImg/phone-call.png" alt="">+38063 134 92 72</a>
                    <ul class="footerFirst">
                        <li>О нас</li>
                        <li>Помощь</li>
                        <li>Блог</li>
                        <li>Пресса</li>
                        <li>Связаться с нами</li>
                    </ul>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 col-12">
                    <p>Мы в социальных сетях</p>
                    <ul class="footerImgBlock">
                        <li><img src="autoImg/linkedin.png" alt=""></li>
                        <li><img src="autoImg/facebook.png" alt=""></li>
                        <li><img src="autoImg/instagram.png" alt=""></li>
                        <li><img src="autoImg/twitter.png" alt=""></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                    <p>Вы мастер или СТО?</p>
                    <button class="howItWorksBtn">Узнать больше</button>
                </div>
            </div>

            <div class="row lastFooterInfo g-3">
                <div class="col-lg-5 col-sm-12 col-12">© 2021 twoimaster.com.ua</div>
                <div class="col-lg-3 col-sm-12 col-12">Правовая информация</div>
                <div class="col-lg-4 col-sm-12 col-12">Политика использования файлов cookie</div>
            </div>

        </div>
    </footer>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="scripts.js"></script>

</html>