footer {
    min-height: 736px;
    background-color: #f5faff;
}

footer .container :first-child div {
    margin-top: 90px;
}

footer h3 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 38px;
}

footer h3 span {
    color: #6FDA44;
}

footer a[href="tel:+380631349272"] {
    color: #37A000;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
}

footer a img {
    margin-right: 8px;
    height: 22px;
    width: 22px;
}

footer ul {
    
    margin-top: 25px;
    padding-left: 0;
    
}

footer ul li {
    font-size: 20px;
    margin-top: 10px;
}

footer p {
    
    font-size: 25px;
    font-weight: 600;
}

footer .row :nth-child(2) ul li {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

footer .row :nth-child(2) ul li img {
    width: 64px;
    height: 64px;
}

footer .lastFooterInfo {
    margin-top: 192px;
}

footer .lastFooterInfo div {
    font-size: 13px;
}