.howItWorksBtn {
    display: block;
    margin: 28px auto 48px auto;
    width: 314px;
    height: 54px;
    background: #ffffff;
    border: 2px solid #37a000;
    border-radius: 30px;
    font-weight: 600;
    font-size: 20px;
}

.takeYourValueBtn {
    width: 252px;
    height: 48px;
    background: #37a000;
    border-radius: 6px;
    font-size: 19px;
}

.btn-success {
    background: #37A000;
    border-radius: 6px;
    font-size: 17px;
    padding: 4px 15px 4px 15px;
}

.btn-simpleButton{
    /* width: 314px;
    height: 54px; */
    padding: 4px 20px 4px 20px;
    border: 2px solid;
    border-radius: 30px;
    font-weight: 600;
    margin-right: 73px;
    background: #339101;
    border: none;
    color: white;
}